{% include "_base.html" %}

{% block content %}

<div class="bg-white w-full flex flex-col gap-5 px-3 md:px-16 lg:px-28 md:flex-row text-[#161931]">
    <aside class="hidden py-4 md:w-1/3 lg:w-1/4 md:block">
        <div class="sticky flex flex-col gap-2 p-4 text-sm border-r border-indigo-100 top-12">

            <h2 class="pl-3 mb-4 text-2xl font-semibold">Settings</h2>

            <a href="/" class="flex items-center px-3 py-2.5 font-bold bg-white  text-indigo-900 border rounded-full">
                Bosh Sahifa
            </a>
            
        </div>
    </aside>
    <main class="w-full min-h-screen py-1 md:w-2/3 lg:w-3/4">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="p-2 md:p-4">
                <div class="w-full px-6 pb-8 mt-8 sm:max-w-xl sm:rounded-lg">
                    <h2 class="pl-6 text-2xl font-bold sm:text-xl">Umumiy profil</h2>

                    <div class="grid max-w-2xl mx-auto mt-8">
                        <div class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0">

                            <div class="flex flex-col space-y-5 sm:ml-8">
                                <div class="flex w-full max-w-xl text-center flex-col gap-1">
                                    <span class="w-fit pl-0.5 text-sm text-neutral-600 dark:text-neutral-300">Profil rasmi</span>
                                    <div class="flex w-full flex-col items-center justify-center gap-2 rounded-md border border-dashed border-neutral-300 p-8 text-neutral-600 dark:border-neutral-700 dark:text-neutral-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="w-12 h-12 opacity-75">
                                            <path fill-rule="evenodd" d="M10.5 3.75a6 6 0 0 0-5.98 6.496A5.25 5.25 0 0 0 6.75 20.25H18a4.5 4.5 0 0 0 2.206-8.423 3.75 3.75 0 0 0-4.133-4.303A6.001 6.001 0 0 0 10.5 3.75Zm2.03 5.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l1.72-1.72v4.94a.75.75 0 0 0 1.5 0v-4.94l1.72 1.72a.75.75 0 1 0 1.06-1.06l-3-3Z" clip-rule="evenodd"/>
                                        </svg>
                                        <div class="group">
                                            <label for="fileInputDragDrop" class="cursor-pointer font-medium text-black group-focus-within:underline dark:text-white">
                                                {{form.image}}
                                               Rasimni ko‘rib chiqish
                                            </label>
                                            yoki bu yerga sudrab olib tashlang
                                        </div>
                                        <small id="validFileFormats">PNG, JPG, WebP - Max 5MB</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="items-center mt-8 sm:mt-14 text-[#202142]">

                            <div
                                class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6">
                                <div class="w-full">
                                    <label for="first_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">
                                        ism</label>
                                    {{form.first_name}}
                                </div>

                                <div class="w-full">
                                    <label for="last_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">
                                        familiyasi</label>
                                        {{form.last_name}}

                                </div>

                            </div>

                            <div class="mb-2 sm:mb-6">
                                <label for="profession"
                                    class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">
                                    yosh</label>
                                {{form.age}}

                            </div>

                            <div class="mb-6">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">
                                    o'zinggiz haqida</label>
                                    {{form.bio}}

                            </div>

                            <div class="flex justify-end">
                                <button type="submit"
                                    class="text-white bg-indigo-700  hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
{% endblock content %}